.CardSuggestions {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.5s ease;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  gap: 10px;
  ion-icon {
    padding: var(--spacing-1) var(--spacing-2);
  }
}

.cardSuggestion {
  cursor: pointer;
  background-color: var(--grey-800);
  color: var(--grey-500);
  padding: var(--spacing-1) var(--spacing-2);
  border-radius: var(--border-radius-1);
}

.cardSuggestion:hover {
  color: var(--grey-900);
  background-color: var(--grey-600);
}

.show {
  max-height: 100px;
}
