@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("/packages/shared/ux/styles/globals.css");

:root {
  --foreground-rgb: var(--grey-300);
  --global-nav-width-expanded: 300px;
  --global-nav-width: 300px;
  --background-color: white;
  --heirloom: #571a08;
  --chili: #ff5724;
  --blueberry: #5fbde0;
  --lime: #fcff3c;
  --padding-xsm: 6px;
  --padding-sm: 20px;
  --padding-md: 40px;
  --padding-lg: 50px;
  --border-radius-sm: 16px;
  --border-radius-md: 24px;
}

.justify-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

body {
  color: var(--foreground-rgb);
}

html {
  overflow-y: hidden;
}
