.appRoot {
  display: flex;
  justify-content: stretch;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: stretch;
  width: 100%;
  background-color: var(--grey-800);
  min-height: 100vh;
  height: 100%;
  font-weight: 300;
}
