.homePage {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow-y: scroll;
  padding-left: var(--padding-lg);
  padding-right: var(--padding-lg);
  padding-bottom: var(--padding-lg);
  max-width: var(--app-content-max-width);
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .homePage {
    padding-left: 0;
    padding-right: 0;
  }
}
