:root {
  --chili: #ff5724;
  --heirlook: #570808;
  --blueberry: #5fbde0;
  --dark-blueberry: #154557;
  --lime: #fcff3c;
  --dark-lime: #7f810b;
  --grey-100: #f8f9fa;
  --grey-200: #e9ecef;
  --grey-300: #dee2e6;
  --grey-400: #ced4da;
  --grey-500: #adb5bd;
  --grey-600: #6c757d;
  --grey-700: #495057;
  --grey-800: #343a40;
  --grey-850: #2b3035;
  --grey-900: #212529;
  --accent-1: #633857;
  --accent-2: #74f495;
  --accent-3: #74f495;
  --accent-4: #9674f4;
  --accent-valid: var(--accent-3);
}

.chili {
  color: var(--chili);
}
