:root {
  --grey-100: #f8f9fa;
  --grey-200: #e9ecef;
  --grey-300: #dee2e6;
  --grey-400: #ced4da;
  --grey-500: #adb5bd;
  --grey-600: #6c757d;
  --grey-700: #495057;
  --grey-800: #343a40;
  --grey-850: #2b3035;
  --grey-900: #212529;
  --grey-950: #15171a;
  --accent-1: #845ec2;
  --accent-2: #4b4453;
  --accent-3: #b0a8b9;
  --accent-4: #9674f4;
  --accent-valid: #74f495;
  --darken-bg-1: rgba(0, 0, 0, 0.2);
  --primary-accent: #ffb4eb;
  --link: #b4cdff;
  --negative: #a75131;
  --positive: #7ba461;
  --danger: rgb(154, 33, 33);

  /* Color Group 1 */
  --cg1-1: #78c2ed;
  --cg1-2: #78edde;
  --cg1-3: #78eda3;
  --cg1-4: #87ed78;
  --cg1-5: #c2ed78;
  --cg1-6: #edde78;
  --cg1-7: #eda378;
  --cg1-8: #ed7885;
  --cg1-9: #ed78c0;
  --cg1-10: #e078ed;
}

.chili {
  color: var(--chili);
}
