:root {
  --chili: #ff5724;
  --heirlook: #570808;
  --blueberry: #5fbde0;
  --dark-blueberry: #154557;
  --lime: #fcff3c;
  --dark-lime: #7f810b;
  --grey-100: #f6f5f2;
  --grey-200: #e3e0d9;
  --grey-300: #c6c0b7;
  --grey-400: #aca69b;
  --grey-500: #878178;
  --grey-600: #605a54;
  --grey-700: #39342e;
  --grey-900: #000;
}

.chili {
  color: var(--chili);
}
