@import url("./typography.css");
@import url("./colors.css");
@import url("./spacings.css");
@import url("./borders.css");
@import url("./z-index.css");

:root {
  --box-shadow-1: 0 4px 10px rgba(0, 0, 0, 0.12);
  --box-shadow-2: 0 28px 30px rgba(0, 0, 0, 0.12),
    0 0 1px rgba(0, 0, 0, 0.05) inset;
}

.column {
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--lightestgrey);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
