.nav {
  width: var(--global-nav-width);
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.12);
  background-color: var(--grey-900);
  padding: var(--spacing-3);
  flex-shrink: 0;
  overflow-y: scroll;
  color: var(--grey-500);
  border-right: var(--border-1);
  max-height: 100vh;
  z-index: var(--z-3);
  display: flex;
  flex-direction: column;
  .btnToggleExpand {
    display: none;
  }
  .alwaysVisibleNavContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .visibleWhenExpandedNavContent {
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-4);
    gap: var(--spacing-4);
  }
}

@media screen and (max-width: 900px) {
  .nav {
    width: 100%;
    overflow: hidden;
    .btnToggleExpand {
      display: flex;
    }
    .alwaysVisibleNavContent {
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
    .visibleWhenExpandedNavContent {
      display: none;
    }
  }
  .nav.expanded {
    position: absolute;
    height: 100%;
    .visibleWhenExpandedNavContent {
      display: block;
    }
  }
}
