.nav {
  position: relative;
  width: 75px;
  transition: all 0.5s;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.12);
  background-color: var(--grey-900);
  padding: var(--spacing-3);
  padding-bottom: 0px;
  flex-shrink: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  color: var(--grey-200);
  border-right: var(--border-1);
  border-bottom-left-radius: var(--border-radius-1);
  border-bottom-right-radius: var(--border-radius-1);
  max-height: 100vh;
  z-index: var(--z-3);
  display: flex;
  flex-direction: column;
  .btnToggleExpand {
    position: absolute;
    right: 10px;
    top: 20px;
    opacity: 0.3;
    transform: rotate(0deg);
  }
  .alwaysVisibleNavContent {
    min-width: calc(var(--global-nav-width) - 2 * var(--spacing-3));
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .visibleWhenExpandedNavContent {
    min-width: calc(var(--global-nav-width) - 2 * var(--spacing-3));
    overflow: hidden;
    overflow-y: scroll;
    opacity: 0;
    flex-direction: column;
    margin-top: var(--spacing-4);
    gap: var(--spacing-4);
    transition: all 0.5s;
  }
}

.nav.expanded {
  width: var(--global-nav-width);
  .visibleWhenExpandedNavContent {
    opacity: 1;
  }
  .btnToggleExpand {
    transform: rotate(-90deg);
  }
}

@media screen and (max-width: 900px) {
  .nav {
    width: 100%;
    overflow: hidden;
    padding-bottom: var(--spacing-3);
    .btnToggleExpand {
      top: unset;
      right: unset;
      position: relative;
      display: flex;
      transition: transform 0.2s ease;
      transform: rotate(-180deg);
    }
    .btnToggleExpand.expanded {
      transform: rotate(0deg);
    }
    .alwaysVisibleNavContent {
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
    .visibleWhenExpandedNavContent {
      max-height: 0px;
      transition: all 0.3s;
      margin-top: 0px;
      overflow: hidden;
    }
  }
  .nav.expanded {
    width: 100%;
    .visibleWhenExpandedNavContent {
      display: block;
      max-height: 100vh;
      overflow-y: scroll;
      padding-top: 20px;
    }
  }
}
