.btn {
  padding: var(--spacing-2);
  border-radius: var(--border-radius-xsm);
  display: flex;
  justify-self: center;
  align-items: center;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
