.btn {
  padding: var(--spacing-2);
  border-radius: var(--border-radius-xsm);
  display: flex;
  justify-self: center;
  align-items: center;
  box-shadow: var(--box-shadow-1);
}

.btn.primary {
  background-color: var(--accent-1);
  color: #ffb4eb;
}

.btn.primary:hover {
  background-color: #3a2133;
}
