.btn {
  padding: var(--spacing-2) var(--spacing-2);
  border-radius: var(--border-radius-xsm);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-1);
  border: 1px solid transparent;
  gap: var(--spacing-2);
}

.btn.primary {
  background-color: var(--accent-4);
  color: var(--grey-100);
}

.btn.primary:hover {
  border: 1px solid var(--primary-accent);
}

.btn.negative:hover {
  border: 1px solid var(--negative);
}

.btn.negative.primary {
  background-color: var(--negative);
  color: var(--grey-100);
}

.btn.negative.primary:hover {
  background-color: white;
  color: var(--negative);
}

.btn.active {
  border: 1px solid var(--primary-accent);
  color: var(--primary-accent);
}

.btn:hover {
  border: 1px solid var(--primary-accent);
  color: white;
}

.btn.fillSpace {
  width: 100%;
  height: 100%;
}
