.ModalRoot {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: var(--z-4);
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
  .ModalInner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    .ModalContent {
      padding: var(--spacing-4);
      border-radius: var(--border-radius-sm);
      background-color: var(--grey-900);
      backdrop-filter: blur(15px);
      width: 40%;
      height: 40%;
      min-width: 720px;
      min-height: 500px;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transition: all 0.2s;
      .closeModalBtn {
        color: white;
        width: 40px;
        height: 40px;
        top: var(--spacing-3);
        right: var(--spacing-3);
        position: absolute;
      }
    }
  }
}

.show {
  opacity: 1;
  pointer-events: all;
}

.SignInModalContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-3);
}

.ProfileModalContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-3);
}

.authStatus {
  color: var(--grey-700);
  font-size: 10px;
  text-align: center;
}

.TitleLine {
  display: flex;
  gap: var(--spacing-3);
  align-items: center;
}

.tag {
  padding: var(--spacing-2) var(--spacing-3);
  border-radius: var(--border-radius-1);
}

.cta {
  color: var(--grey-500);
}

@media screen and (max-width: 1024px) {
  .ModalRoot {
    .ModalInner {
      .ModalContent {
        width: 100%;
        height: 100%;
        min-width: unset;
        min-height: unset;
        border-radius: 0;
      }
    }
  }
}
