.InputCard {
  position: relative;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  padding: 25px;
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow-1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: border-bottom 0.5s ease;
  box-sizing: border-box;
  overflow: visible;
  transition: all 0.1s ease;
  animation: appear 0.5s ease;
  color: var(--grey-600);
  .textInputs {
    display: flex;
    flex-direction: column;
  }
  .divider {
    width: 100%;
    margin: 10px;
    border-bottom: 1px solid var(--grey-600);
    opacity: 0.1;
  }
  .textInput {
    font-size: var(--font-size-xl);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }
  .sideBInput {
    max-height: 0px;
    transition: all 0.3s ease;
    padding: 0px;
  }
  .sideBInput.show {
    max-height: 72px;
    padding: var(--spacing-1) var(--spacing-2);
  }
  .textInput::placeholder {
    color: var(--grey-600);
  }
}

.InputCard.hovered {
  border: 1px solid var(--grey-600);
}

.hasValidInput {
  box-shadow: var(--box-shadow-2);
  border: 1px solid var(--accent-valid);
}

.submitted {
  bottom: 0;
  left: -10px;
  height: 100%;
  animation: myMove 0.5s;
  background-color: #31afd4;
  position: absolute;
}

.cardModifiers {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}

.newCardIndicator {
  padding-bottom: var(--spacing-2);
}

@keyframes myMove {
  0% {
    width: 0%;
  }
  50% {
    width: 10px;
  }
  100% {
    width: 0%;
  }
}

@keyframes appear {
  0% {
    opacity: 0%;
    background-color: rgba(255, 255, 255, 0);
    max-height: 0px;
  }
  50% {
    opacity: 50%;
    background-color: rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 100%;
    background-color: rgba(255, 255, 255, 0);
    max-height: 500px;
  }
}

@media screen and (max-width: 900px) {
  .InputCard {
    .textInput {
      font-size: 24px;
    }
    .sideBInput.show {
      height: 50px;
      padding: var(--spacing-1) var(--spacing-2);
    }
  }
}
