.InputCard {
  position: relative;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  padding: var(--spacing-3);
  row-gap: var(--spacing-2);
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow-1);
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: border-bottom 0.5s ease;
  box-sizing: border-box;
  overflow: visible;
  transition: all 0.1s ease;
  animation: appear 0.5s;
  color: var(--grey-600);
  .textInputs {
    display: flex;
    flex-direction: column;
  }
  .divider {
    width: 100%;
    margin: 10px;
    border-bottom: 1px solid var(--grey-600);
    opacity: 0.1;
  }
  .textInput {
    font-size: var(--font-size-xl);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }
  .textInput:hover {
    background-color: var(--grey-700);
  }
  .sideAInput {
    transition: all 0.3s;
  }
  .sideBInput {
    max-height: 0px;
    transition: all 0.3s;
    padding: 0px;
  }
  .sideBInput.obscure {
    background-color: var(--grey-950);
    color: var(--grey-950);
  }
  .sideBInput.show {
    max-height: 350px;
    padding: var(--spacing-1) var(--spacing-2);
  }
  .textInput::placeholder {
    color: var(--grey-600);
  }
}
.InputCard.StudyMode {
  height: 90%;
  flex-shrink: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  animation: none;
  min-height: 250px;
  .controlsDivider {
    opacity: 0;
  }
  .cardModifiers {
    display: none;
  }
  input {
    user-select: none;
  }
  .textInputs {
    flex-direction: column;
    .textInput {
      font-size: var(--font-size-xxl);
    }
  }
}

.progressStatus {
  color: var(--grey-600);
  position: absolute;
  bottom: 25px;
}

@media screen and (max-height: 800px) {
  .progressStatus {
    display: none;
  }
}

.InputCard.hovered {
  border: 1px solid var(--grey-600);
}

.InputCard {
  .progressLine {
    position: absolute;
    content: "";
    width: 0px;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
  }
}

.InputCard.negativeProgress {
  border-left: 2px solid var(--negative);
}

.InputCard.positiveProgress {
  border-left: 2px solid var(--positive);
}

.InputCard.StudyMode.negativeProgress {
  border-left: 3px solid var(--negative);
  .progressLine {
    display: none;
    box-shadow: 0px 0px 10px 2px var(--negative);
  }
}

.InputCard.StudyMode.positiveProgress {
  border-left: 3px solid var(--positive);
  .progressLine {
    display: none;
    box-shadow: 0px 0px 10px 2px var(--positive);
  }
}

.hasValidInput {
  border: 1px solid var(--accent-valid);
}

.obscure {
  background-color: white;
}

.submitted {
  bottom: 0;
  left: -10px;
  height: 100%;
  animation: myMove 0.5s;
  background-color: #31afd4;
  position: absolute;
}

.cardModifiers {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-height: 0px;
  transition: max-height 1s ease;
  .row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
}

.cardModifiers.show {
  max-height: 140px;
}

.newCardIndicator {
  padding-bottom: var(--spacing-2);
  color: var(--grey-500);
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .InputCard {
    .textInputs {
      flex-direction: row;
      gap: 20px;
    }
    .divider {
      display: none;
    }
    .sideBInput {
      width: 0px;
      height: auto;
      max-height: unset;
    }
    .sideBInput.show {
      overflow-y: scroll;
      max-height: 400px;
      width: 100%;
      padding: var(--spacing-1) var(--spacing-2);
    }
  }
}

@media screen and (max-height: 900px) {
  .InputCard,
  .InputCard.StudyMode {
    .textInputs {
      .textInput {
        font-size: var(--font-size-xl);
      }
    }
    .sideBInput.show {
      padding: var(--spacing-1) var(--spacing-2);
    }
  }
}

@media screen and (max-width: 1024px) {
  .InputCard,
  .InputCard.StudyMode {
    .textInputs {
      .textInput {
        font-size: var(--font-size-xl);
      }
    }
    .sideBInput.show {
      padding: var(--spacing-1) var(--spacing-2);
    }
  }
}

@media screen and (max-width: 450px) {
  .InputCard.StudyMode {
    height: 70%;
  }
}

@keyframes myMove {
  0% {
    width: 0%;
  }
  50% {
    width: 10px;
  }
  100% {
    width: 0%;
  }
}

@keyframes appear {
  0% {
    opacity: 0%;
    max-height: 0px;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
    max-height: 500px;
  }
}
