.TaggedCardCollection {
  border-radius: var(--border-radius-1);
  .cards {
    max-height: 0px;
    padding: var(--spacing-1);
    overflow: hidden;
  }
  .collectionTitleTextContainer {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-2);
    overflow: visible;
    flex: 1;
  }
  .collectionTitle {
    padding: var(--spacing-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--grey-600);
    flex-direction: row;
    width: 100%;
  }
  .tagControls {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    display: flex;
  }
  .tagControls.active {
    opacity: 1;
    pointer-events: all;
  }
  .tagTitleText {
    color: var(--grey-500);
    width: 100%;
  }
  .tagTitleText.active {
    color: var(--grey-100);
  }
  .activeIndicator {
    background-color: rgba(0, 0, 0, 0.2);
    width: 5px;
    height: 5px;
  }
  .activeIndicator.active {
    width: 15px;
    height: 15px;
  }
  .cardCount {
    color: var(--grey-700);
    text-align: end;
  }
  .TaggedCard {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--grey-800);
    padding: var(--spacing-1) 0;
    animation: fadeIn 1s;
    padding: var(--spacing-2);

    .cardSideA {
      flex: 1;
    }
    .cardSideB {
      flex: 1;
      text-align: end;
    }
  }
}

.TaggedCardCollection.expand {
  .cards {
    max-height: max-content;
  }
  .collectionTitle {
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
