.TextInput {
  padding: var(--spacing-1) var(--spacing-2);
  background-color: var(--grey-850);
  border: none;
  color: rgba(255, 255, 255, 0.6);
  border-radius: var(--border-radius-1);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  resize: none;
  overflow: hidden;
}

.TextInput.showControls {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.TextInput:read-only {
  background-color: transparent;
  cursor: pointer;
  box-shadow: none;
}

.TextInput:focus {
  outline: none;
}

.TextInput:focus:not(:read-only) {
  background-color: var(--grey-700);
  outline: none;
  border: 0px;
}

.controls {
}

.controls.show {
  display: flex;
}

.TextInputContainer {
  display: flex;
  position: relative;
  flex: 1;
  overflow: hidden;
  align-items: stretch;
}
