.ProgressIndicator {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  height: 100%;
  width: 90%;
  min-height: 40px;
}

.Item {
  width: 15px;
  height: 15px;
  background-color: var(--grey-950);
  border-radius: 15px;
  z-index: var(--z-2);
  transition: all 0.2s;
  position: absolute;
  transform: translate(-50%), scale(1);
  opacity: 0;
}

.Item.active {
  animation: activate 1s infinite;
  box-shadow:
    /* inner left magenta short */ inset -0px 0 20px white,
    /* inner right cyan short */ inset 0px 0 75px white,
    /* inner left magenta broad */ inset -0px 75px white,
    /* inner right cyan broad */ 0 0 25px #fff,
    /* outer white */ -0px 0 20px white,
    /* outer left magenta */ 0px 0 40px #0ff; /* outer right cyan */
  border: 1px solid black;
  opacity: 1;
}

.Item.negativeProgress.active {
  box-shadow:
    /* inner white */ inset 10px 0 20px var(--negative),
    /* inner left magenta short */ inset -0px 0 20px white,
    /* inner right cyan short */ inset 0px 0 75px var(--negative),
    /* inner left magenta broad */ inset -0px 75px white,
    /* outer white */ -0px 0 20px var(--negative),
    /* outer left magenta */ 0px 0 40px white; /* outer right cyan */
  border: 1px solid white;
  background-color: black;
}

.Item.positiveProgress.active {
  box-shadow: 
    /* inner white */ inset 10px 0 20px var(--positive),
    /* inner left magenta short */ inset -0px 0 20px white,
    /* inner right cyan short */ inset 0px 0 75px var(--positive),
    /* inner left magenta broad */ inset -0px 75px white,
    /* outer white */ -0px 0 20px var(--positive),
    /* outer left magenta */ 0px 0 40px white; /* outer right cyan */
  border: 1px solid white;
}

.Item.negativeProgress {
  border: 1px solid var(--negative);
}
.Item.positiveProgress {
  border: 1px solid var(--positive);
}

.itemComplete,
.Item.negativeProgress.itemComplete,
.Item.positiveProgress.itemComplete {
  border: 1px solid white;
  opacity: 1;
}

.Item.negativeProgress.itemComplete {
  background-color: var(--negative);
}
.Item.positiveProgress.itemComplete {
  background-color: var(--positive);
}

.ProgressBarContainer {
  flex: 1;
  background-color: var(--grey-950);
  height: 5px;
  position: absolute;
  width: 100%;
}

.ProgressBar {
  background-color: var(--grey-200);
  height: 5px;
  position: absolute;
  transition: width 0.25s;
}

@keyframes activate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
