.ProgressIndicator {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  height: 100%;
  width: 90%;
  min-height: 40px;
}

.Item {
  width: 15px;
  height: 15px;
  background-color: var(--grey-950);
  border-radius: 15px;
  z-index: var(--z-2);
  transition: all 0.2s;
  position: absolute;
  transform: translate(-50%), scale(1);
}

.Item.active {
  animation: activate 1s infinite;
  border: 1px solid white;
}

.Item.negativeProgress {
  border: 1px solid var(--negative);
}
.Item.positiveProgress {
  border: 1px solid var(--positive);
}

.itemComplete,
.Item.negativeProgress.itemComplete,
.Item.positiveProgress.itemComplete {
  border: 1px solid white;
}

.Item.negativeProgress.itemComplete {
  background-color: var(--negative);
}
.Item.positiveProgress.itemComplete {
  background-color: var(--positive);
}

.ProgressBarContainer {
  flex: 1;
  background-color: var(--grey-950);
  height: 5px;
  position: absolute;
  width: 100%;
}

.ProgressBar {
  background-color: var(--grey-400);
  height: 5px;
  position: absolute;
  transition: width 0.25s;
}

@keyframes activate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
