.globalSearch {
  margin-bottom: 20px;
  margin: auto;
  border-radius: var(--border-radius-1);
  font-size: 24px;
  transition: opacity 1s ease;
  font-size: var(--font-size-md);
  box-shadow: var(--box-shadow-1);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
}

.globalSearch:hover {
}

.appControls {
  z-index: var(--z-2);
  display: flex;
  width: 100%;
  position: sticky;
  top: var(--spacing-3);
  justify-content: flex-start;
  align-items: flex-start;
  transition: height 1s ease;
}

.btns {
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 58px;
  margin-left: var(--spacing-1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b3035;
  border-radius: var(--border-radius-1);
}

.globalSearchInput {
  width: 100%;
  text-indent: var(--spacing-3);
  padding: var(--spacing-2) var(--spacing-2);
}
