.StudyControlsRoot {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
  position: relative;
  gap: var(--spacing-3);
}

.QuizAnswers {
  display: flex;
  gap: var(--spacing-3);
  flex-wrap: wrap;
  flex: 1;
  flex-shrink: 1;
  flex-grow: 0;
  align-items: center;
  padding: var(--spacing-3) 0px;
  .quizAnswer {
    border: 1px solid var(--grey-800);
    color: var(--grey-600);
    padding: var(--spacing-2) var(--spacing-3);
    border-radius: var(--border-radius-2);
    font-size: var(--font-size-lg);
    cursor: pointer;
    &:hover {
      border: 1px solid var(--grey-400);
      color: var(--grey-400);
    }
    &.clickedWrong {
      border: 1px solid var(--negative);
      color: var(--negative);
    }
    &.clickedCorrect {
      border: 1px solid var(--positive);
      color: var(--positive);
    }
  }
}

@media screen and (max-width: 1024px) {
  .QuizAnswers {
    .quizAnswer {
      font-size: var(--font-size-md);
    }
  }
}

.StudyControls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: var(--grey-500);
  gap: var(--spacing-1);
  flex-grow: 1;
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .annotation {
    position: absolute;
    left: -50%;
    right: 0px;
    top: 0px;
    width: 250px;
    text-align: center;
    margin: auto;
  }
  .positiveBtn {
    color: var(--positive);
    .pressed {
      box-shadow: -1px 2px 58px -13px var(--positive);
    }
  }
  .negativeBtn {
    color: var(--negative);
    .pressed {
      box-shadow: -1px 2px 58px -13px var(--negative);
    }
  }
}

.pressed {
  box-shadow: -1px 2px 58px -13px rgba(255, 255, 255, 0.75);
  outline: 1px solid rgba(255, 255, 255, 0.1);
}

.Counts {
  min-width: 50px;
  text-align: center;
  color: var(--grey-600);
}

.progressBtn {
  border-radius: var(--border-radius-2);
  border: 2px solid transparent;
  &.negative {
    &.active {
      border: 2px solid var(--negative);
    }
  }
  &.positive {
    &.active {
      border: 2px solid var(--positive);
    }
  }
}

.Inverter {
  transform: rotate(90deg);
  transition: transform 0.2s ease;
}

.Inverted {
  transform: rotate(-90deg);
}

.Missing {
  opacity: 0.1;
}
