.StudyControls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--grey-500);
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .annotation {
    position: absolute;
    left: -50%;
    right: 0px;
    top: 0px;
    width: 250px;
    text-align: center;
    margin: auto;
  }
  .positiveBtn {
    color: var(--positive);
    .pressed {
      box-shadow: -1px 2px 58px -13px var(--positive);
    }
  }
  .negativeBtn {
    color: var(--negative);
    .pressed {
      box-shadow: -1px 2px 58px -13px var(--negative);
    }
  }
}

.pressed {
  box-shadow: -1px 2px 58px -13px rgba(255, 255, 255, 0.75);
  outline: 1px solid rgba(255, 255, 255, 0.1);
}

.StudyControlsRoot {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
  position: relative;
  gap: var(--spacing-3);
}

.Counts {
  min-width: 50px;
  text-align: center;
}
